body{
    background-color: #0052d0 !important;
}

.place:hover{
    text-decoration: underline 2px #f7f7f8d0;
    cursor: pointer;
}
/* ===== CUSTOM FONTS ====== */

@font-face {
    font-family: Kufi;
    src: url("../public/fonts/NotoSansArabic-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Kufi;
    src: url("../public/fonts/NotoSansArabic-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Kufi;
    src: url("../public/fonts/NotoSansArabic-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Kufi;
    src: url("../public/fonts/NotoSansArabic-Medium.ttf");
    font-weight: 500;
}

/* =====// CUSTOM FONTS //====== */
